body { 
    background-color: #38504F;
    color: blanchedalmond;
}
.titulo-1 {
    color: #195250;
    background-color: #3CA5A1;
}
.titulo-2 {
    color: aquamarine;
    background-color: #FA5B08;
}
.titulo-3{
    color: #FA5B08;
}
.titulo-4{
    color: #BA6334;
}
.titulo-5{
    color: #07FAF1;
}